$color-light: #fff;
$color-title: #212529;
$color-text: #434040;
$color-additional: linear-gradient(180deg, #27214A 0%, rgba(118, 110, 162, 0) 100%), #27214A;
$bg-green: linear-gradient(180deg, #225238 0%, rgba(61, 140, 98, 0) 100%), #225238;
$bg-blue: linear-gradient(180deg, #467992 0%, rgba(255, 255, 255, 0) 100%), #467992;
$bg-brown: linear-gradient(180deg, #A67B49 0%, rgba(233, 195, 152, 0) 100%), #A67B49;
$bg-coral: linear-gradient(180deg, #462027 0%, rgba(153, 89, 100, 0) 100%), #462027;
$bg-dark-green: #1D3A3A;
$bg-gray: linear-gradient(180deg, #617781 0%, rgba(255, 255, 255, 0) 100%), #617781;
$bg-footer: linear-gradient(180deg, #49484C 0%, rgba(127, 125, 131, 0) 100%), #49484C;
$color-hamburger: #48484C;
$bg-color:#E5E5E5;



$page-width: 1920px;
$content-width: 1580px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;